<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add User</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/users">
        <img src="https://png.icons8.com/color/260/user-group-man-man.png" width="30px" height="30px"
             class="d-inline-block align-top"> Users</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user/add">Add User <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>


<div class="container">
    <form action="/user/add" method="POST">
        <div class="form-group col-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName">
        </div>
        <div class="form-group col-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName">
        </div>
        <div class="form-group col-6">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Enter age" name="age">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/users" name="cancel" class="btn btn-default">Cancel</a>
    </form>
</div>


</body>
</html>